html, body{
    margin: 0; padding: 0;
    background: rosybrown;
    overflow-x: hidden;
    }
    .inner{
        width: 80% ; 
        margin: auto;
    }


    /*
.titre
{
    color:#D13360;
    font-size: 1.5em ;
}

@font-face{
    font-family: 'MarketingScript';

}
@font-face{
    font-family: 'CaviarDreams';
    src:    url('CaviarDreams.ttf');


@font-face {
    font-family: 'oswaldextralight';
    src: url('oswald-extralight-webfont.woff2') format('woff2'),
         url('oswald-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

} 
